@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');



html{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

body{
    margin: 0;
    background-color: var(--primary-2);
    font-size: 1em;
}

h1,
h2,
strong{
    font-family: 'Fraunces', serif;
}

img {
    width: 100%;
}

button,
[type=button] {
    border-style: none;
}