
/*
v -- > viewport   h --> height  w --> width
vh --> Ejemplo 100vh, 1vh parecido a 100%
vw --> Ejemplo 100vw
*/

.my-body{
  padding: 1em;
}

.container {
  
  min-width: var(--max-width-mobile);
  max-width: var(--max-width-desktop);
}



img.preview__image{
  display: block;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.main-content{
  padding: 1em;
  background-color: var(--neutral-3);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.main-content p {
  color: var(--neutral-2);
  margin: var(--margin-content);
}

.main-content::before{
    content: 'Perfume';
    display: block;
    margin: var(--margin-content);
    color: var(--neutral-2);
    text-transform: uppercase;
    letter-spacing: .4em;
}

 .title {
  font-size: 2.4em;
  margin: var(--margin-content);
 }


  .btn{
    width: 100%;
    padding: 1em;
    background-color: var(--primary-1);
    color: var(--neutral-3);
    font-weight: 700;
    border-radius: var(--border-radius);
  }
  .price{
    margin: var(--margin-content);
  }
  
  .price strong{
  
    vertical-align: middle;
    margin-right: .5em;
    font-size: 2.4em;
    color: var(--primary-1)
  }

  .price del {
    color: var(--neutral-2)
  }
  
  .cart {
    width: initial;
  }

  @media screen and (min-width: 600px) {
    /* .my-body{
      font-size: calc(1em + 1vw);
    } */
    .container{
      display: flex;
    }
    .main-content,.preview{
      flex: 50%;
    }
    img.preview__image{
      height: 100%;
      object-fit: cover;
      border-bottom-left-radius: var(--border-radius);
      border-top-right-radius: 0;
    }
    .main-content{
      flex: 50;
      border-top-right-radius: var(--border-radius);
      border-bottom-left-radius: 0;
    }
  }

