
/*
v -- > viewport   h --> height  w --> width
vh --> Ejemplo 100vh, 1vh parecido a 100%
vw --> Ejemplo 100vw
*/

.my-body{
  --padding-body: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: var(--padding-body);
}

.container { 
  display: flex;
  flex-wrap: wrap;
  min-width: var(--max-width-mobile);
  max-width: var(--max-width-desktop);
}

.container > * {
  flex-basis: calc(300px - (var(--padding-body)*2));/*Mitad del ancho de columna menos el 1em del body */
  max-width: 600px;
  flex-grow: 1;
}



img.preview__image{
  display: block;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.main-content{
  padding: 1em;
  background-color: var(--neutral-3);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.main-content p {
  color: var(--neutral-2);
  margin: var(--margin-content);
}

.main-content::before{
    content: 'Perfume';
    display: block;
    margin: var(--margin-content);
    color: var(--neutral-2);
    text-transform: uppercase;
    letter-spacing: .4em;
}

 .title {
  font-size: 2.4em;
  margin: var(--margin-content);
 }


  .btn{
    width: 100%;
    padding: 1em;
    background-color: var(--primary-1);
    color: var(--neutral-3);
    font-weight: 700;
    border-radius: var(--border-radius);
  }
  .price{
    margin: var(--margin-content);
  }
  
  .price strong{
  
    vertical-align: middle;
    margin-right: .5em;
    font-size: 2.4em;
    color: var(--primary-1)
  }

  .price del {
    color: var(--neutral-2)
  }
  
  .cart {
    width: initial;
  }

  @media screen and (min-width: 601px) {
    .my-body{
      font-size: clamp(1em, 2vw, 2em);
    }
    img.preview__image{
      border-bottom-left-radius: var(--border-radius);
      border-top-right-radius: 0;
    }
    .main-content{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      border-top-right-radius: var(--border-radius);
      border-bottom-left-radius: 0;
    }
  }

