:root {  
font-size: 14px;
--max-width-desktop: 1440px;
--max-width-mobile: 375px;
--primary-1: hsl(158, 36%, 37%);
--primary-2: hsl(30, 38%, 92%);
--neutral-1: hsl(212, 21%, 14%);
--neutral-2: hsl(228, 12%, 48%);
--neutral-3: hsl(0, 0%, 100%);
--border-radius: .5em;
--margin-content: 1.5rem 0;
}